<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="logo" href="#">
        <img class="logo-img" src="../../assets/images/logo.png" alt="logo">
      </a>
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="#">Home</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">About</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Journal</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Shop</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Contact</a>
          </li>
        </ul>
        <button class="menu__buy-btn">
          Buy Template
        </button>
        <button class="menu__cart-btn">
          <img class="menu__cart-img" src="../../assets/images/cart.svg" alt="cart">
          <span>0</span>
        </button>
        <button class="menu__btn">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </nav>
    </div>
  </div>
</header>
