<footer class="footer">
  <div class="container">
    <div class="footer__design">
      <h2 class="footer__design-title">Celebrating the <br> perfectly imperfect</h2>
      <div class="footer__design-images">
        <img class="footer__design-img" src="../../assets/images/footer-1.jpg" alt="footer">
        <img class="footer__design-img" src="../../assets/images/footer-2.jpg" alt="footer">
        <img class="footer__design-img" src="../../assets/images/footer-3.jpg" alt="footer">
        <img class="footer__design-img" src="../../assets/images/footer-4.jpg" alt="footer">
      </div>
    </div>

    <div class="footer__info">
      <p class="footer__info-subscribe">
        Subscribe for stories and new product announcements.
      </p>
      <div class="footer__info-items">
        <div class="footer__item">
          <h4 class="footer__item-title">Shop</h4>
          <ul class="footer__item-list">
            <li class="footer__item-link">
              <a href="#">All products</a>
            </li>
            <li class="footer__item-link">
              <a href="#">Fruit</a>
            </li>
            <li class="footer__item-link">
              <a href="#">Custom</a>
            </li>
            <li class="footer__item-link">
              <a href="#">Cute</a>
            </li>
          </ul>
        </div>
        <div class="footer__item">
          <h4 class="footer__item-title">Learn</h4>
          <ul class="footer__item-list">
            <li class="footer__item-link">
              <a href="#">Home</a>
            </li>
            <li class="footer__item-link">
              <a href="#">Shop</a>
            </li>
            <li class="footer__item-link">
              <a href="#">About us</a>
            </li>
            <li class="footer__item-link">
              <a href="#">Journal</a>
            </li>
            <li class="footer__item-link">
              <a href="#">Contact</a>
            </li>
          </ul>
        </div>
        <div class="footer__item">
          <h4 class="footer__item-title">Template</h4>
          <ul class="footer__item-list">
            <li class="footer__item-link">
              <a href="#">Style Guide</a>
            </li>
            <li class="footer__item-link">
              <a href="#">Instructions</a>
            </li>
            <li class="footer__item-link">
              <a href="#">Licensing</a>
            </li>
            <li class="footer__item-link">
              <a href="#">Changelog</a>
            </li>
            <li class="footer__item-link">
              <a href="#">More Templates</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer__bottom">
      <p class="footer__copy">
        © Pulstar powered by <span>Webflow</span>
      </p>
      <button class="footer__btn">Buy Template</button>
    </div>
  </div>
</footer>
