@import '../../styles.scss';

.goods {
  margin-bottom: 8px;

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
  }
  &__item {
    min-height: 420px;
    display: flex;
    align-items: end;
    @include bg;
  }
  &__item-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 12px;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
  }
  &__item-text,
  &__item-price {
    font-size: 12px;
    line-height: 16px;
    padding: 12px 0;
    text-transform: uppercase;
  }
}

@media (max-width: 1190px) {
  .goods {
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
    &__item {
      background-size: cover;
    }
  }
}

@media (max-width: 560px) {
  .goods {
    &__items {
      grid-template-columns: repeat(1, 1fr);
    }
    &__item {
      min-height: 300px;
    }
  }
}
