<div class="goods">
  <div class="container">
    <div class="goods__items">
      <a class="goods__item" href="#" style="background-image: url(../../assets/images/good-1.jpg);">
        <div class="goods__item-info">
          <p class="goods__item-text">Hard BOILED Egg and Avocado</p>
          <p class="goods__item-price">$ 7.99 USD</p>
        </div>
      </a>
      <a class="goods__item" href="#" style="background-image: url(../../assets/images/good-2.jpg);">
        <div class="goods__item-info">
          <p class="goods__item-text">BOMB! Enamel Pin</p>
          <p class="goods__item-price">$ 7.12 USD</p>
        </div>
      </a>
      <a class="goods__item" href="#" style="background-image: url(../../assets/images/good-3.jpg);">
        <div class="goods__item-info">
          <p class="goods__item-text">Pineapple Charm Pendant</p>
          <p class="goods__item-price">$ 9.99 USD</p>
        </div>
      </a>
    </div>
  </div>
</div>
