<section class="journal">
  <div class="container">
    <div class="journal__inner">
      <div class="journal__main">
        <div class="journal__main-box">
          <p class="journal__main-date">February 26, 2022</p>
          <h3 class="journal__main-title">
            14 Common Misconceptions About Web Design
          </h3>
          <p class="journal__main-text">
            Laboriosam et a quis. Ut quae rem consequatur omnis autem incidunt vitae. Recusandae voluptatem
          </p>
          <a class="journal__main-link" href="#">Read more</a>
        </div>
      </div>
      <div class="journal__journal">
        <h2 class="journal__title">Journal</h2>
                <a class="journal__link" href="#">Read the latest</a>
      </div>
      <div class="journal__box">

        <div class="journal__articles">
          <a class="journal__article" href="#">
            <img class="journal__article-img" src="../../assets/images/article-1.jpg" alt="article">
            <div class="journal__article-info">
              <p class="journal__article-date">February 26, 2022</p>
              <h4 class="journal__article-title">
                What Will Website Be Like In 100 Years?
              </h4>
              <p class="journal__article-text">
                Ut aut natus consectetur est quam assumenda porro ut. Sit blanditiis et.
              </p>
            </div>
          </a>
          <a class="journal__article" href="#">
            <img class="journal__article-img" src="../../assets/images/article-2.jpg" alt="article">
            <div class="journal__article-info">
              <p class="journal__article-date">February 26, 2022</p>
              <h4 class="journal__article-title">
                7 of the Best Examples of Beautiful Blog Design
              </h4>
              <p class="journal__article-text">
                Ea in ad impedit repellat. Est iure iure et quis aut enim. Ipsam temporibus culpa
              </p>
            </div>
          </a>
          <a class="journal__article" href="#">
            <img class="journal__article-img" src="../../assets/images/article-3.jpg" alt="article">
            <div class="journal__article-info">
              <p class="journal__article-date">February 26, 2022</p>
              <h4 class="journal__article-title">
                7 Things About Web Design Your Boss Wants To Know
              </h4>
              <p class="journal__article-text">
                Dignissimos iste voluptas reprehenderit mollitia nemo distinctio assumenda sequi
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
