<div class="choice">
  <div class="container">
    <div class="choice__items">
      <a class="choice__item" href="#" style="background-image: url(../../assets/images/choice-1.jpg);">
        <div class="choice__item-info">
          <h3 class="choice__item-title">Shop all</h3>
          <p class="choice__item-text">Explore everything</p>
        </div>
      </a>
      <a class="choice__item" href="#" style="background-image: url(../../assets/images/choice-2.jpg);">
        <div class="choice__item-info">
          <h3 class="choice__item-title">Browse collection</h3>
          <p class="choice__item-text">Get started</p>
        </div>
      </a>
    </div>
  </div>
</div>
