<div class="story">
  <section class="quote">
    <div class="container">
      <h2 class="quote__title">Get the rest of the story</h2>
      <div class="quote__inner">
        <img class="quote__img" src="../../assets/images/quote.jpg" alt="Sam (Trustpilot)">
        <blockquote class="quote__box">
          <p class="quote__text">
            “Best templates and support out there! They are always happy to help with any issues you may be having or
            even just showing how to edit things.”
          </p>
          <cite class="quote__name">Sam (Trustpilot)</cite>
        </blockquote>
      </div>
    </div>
  </section>

  <div class="reviews">
    <div class="container">
      <ul class="reviews__items">
        <li class="reviews__item">
          <img class="reviews__img" src="../../assets/images/review-1.svg" alt="cleo">
          <p class="reviews__text">
            “Great communication and help from him. Thank you.”
          </p>
        </li>
        <li class="reviews__item">
          <img class="reviews__img" src="../../assets/images/review-2.svg" alt="arial">
          <p class="reviews__text">
            "Best templates & support out there!"
          </p>
        </li>
        <li class="reviews__item">
          <img class="reviews__img" src="../../assets/images/review-3.svg" alt="walden">
          <p class="reviews__text">
            “Fantastic designer and web developer... but above all great people"
          </p>
        </li>
        <li class="reviews__item">
          <img class="reviews__img" src="../../assets/images/review-4.svg" alt="petsplay">
          <p class="reviews__text">
            “Great communication with detailed screen shots.”
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
