<div class="shop">
  <div class="container">
    <div class="shop__inner">
      <div class="shop__choice">
        <p class="shop__text">
          Shop hundreds of enamel pins from artists.
        </p>
        <div class="shop__buttons">
          <a class="shop__shop-btn" href="#">Shop everything</a>
          <a class="shop__browse-btn" href="#">Browse collections</a>
        </div>
      </div>

      <div class="shop__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="shop__slider-img">
              <img src="../../assets/images/shop.jpg" alt="shop">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="shop__slider-img">
              <img src="../../assets/images/shop.jpg" alt="shop">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="shop__slider-img">
              <img src="../../assets/images/shop.jpg" alt="shop">
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</div>
