<div class="advantages">
  <div class="container">
    <ul class="advantages__list">
      <li class="advantages__item">
        <img class="advantages__item-img" src="../../assets/images/adv-1.png" alt="make it happen">
        <h4 class="advantages__item-title">Free Artwork</h4>
        <p class="advantages__item-text">Free digital proofs and best design advice</p>
      </li>
      <li class="advantages__item">
        <img class="advantages__item-img" src="../../assets/images/adv-2.png" alt="yeah">
        <h4 class="advantages__item-title">Lower Minimum</h4>
        <p class="advantages__item-text">You can always start with 50 pcs here</p>
      </li>
      <li class="advantages__item">
        <img class="advantages__item-img" src="../../assets/images/adv-3.png" alt="bang">
        <h4 class="advantages__item-title">100% Guarantee</h4>
        <p class="advantages__item-text">Get excellent pins or have your money back</p>
      </li>
    </ul>
  </div>
</div>
